@font-face {
    font-family: "Supersonic";
    src: url("../resources/supersonic.ttf");
  }
  
  @font-face {
    font-family: "Bebas";
    src: url("../resources/bebasNeue.ttf");
  }

*{
    padding : 0;
    margin : 0;
}

.login-content{
    font-family: bebas;
    font-size : 22px;
}

.inputs {
    margin : 20px;
}

input {
    margin : 5px 10px 5px 20px;
    padding : 2px;
}