.menu-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title-img img {
    width: 40%;
}

.title-img {
    z-index: 5;
    margin-bottom: 15px;
}

.menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.paket {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    flex-basis: 250px;
    margin: 15px 50px;
    overflow:hidden;
    border-radius: 5px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
    transform: scale(1.0);
    transition: transform 0.1s ease-out;
}

.paket:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.paket img {
    object-fit: cover;
    width: 250px;
    height: 200px;
}

.paket .text {
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paket .text p {
    font-family: Bebas;
    font-size: 20px;
}

.orderbtn-menu {
    margin-top: 20px;
    margin-bottom : 40px;
    font-family: Bebas;
    font-size: 22px;
    background-color: #ff6969;
    vertical-align: middle;
    border-radius: 3px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), inset 0px 2px 2px 5px rgba(0,0,0,0);    
}

.orderbtn-menu:hover {
    transition-duration: 0.1s;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2), inset 200px 2px 2px 5px rgba(0,0,0,0.1);
}

.orderbtn-menu a{
    display: block;
    padding: 15px 30px 13px 30px;
    color: black;
    text-decoration: none;
}